.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: auto;
}

.skill-wrapper, .project-wrapper{
    background: white;
}

.profile-pic{
    height: 200px;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-size: cover;
}

.skill-wrapper{
    height: 60%;
}

.project-wrapper{
    height: 100%;
}