<div class="wrapper col-xs-12 col-sm-9 col-md-6">
    <div class="col-xs-12 col-sm-6 profile-wrapper">
        <img *ngIf = 'profilePic' [src] = "profilePic" class="profilePic" alt="Chandra Gupta profile pic">
    </div>
    <div class="col-xs-12 col-sm-6 followlink-wrapper">
        <a class="fa fa-facebook facebook" href="https://www.facebook.com/cp.gupta.52" target="_blank">
            <span> facebook </span>
        </a>
        <a class="fa fa-twitter twitter" href="https://twitter.com/cpgupta33" target="_blank">
            <span> twitter </span>
        </a>
        <a class="fa fa-google-plus google-plus" href="https://plus.google.com/u/0/+CPGupta33" target="_blank">
            <span> google+ </span>
        </a>
        <a class="fa fa-instagram instagram" href="https://www.instagram.com/cpgupta33" target="_blank">
            <span> instagram </span>
        </a>
        <a class="fa fa-linkedin linkedin" href="https://www.linkedin.com/in/chandra-prakash-gupta-6534a662/" target="_blank">
            <span> linkedin </span>
        </a>
    </div>
</div>
